<md-toolbar color="primary">
  <span>Toolbar</span>
</md-toolbar>
<div class="banner bg-1">
</div>
<div class="banner-text">
  <div class="card-container">
    <md-card class="card">
      <md-card-title>First</md-card-title>
      <md-card-content>On the first day of Christmas...</md-card-content>
    </md-card>
    <md-card class="card">
      <md-card-title>Second</md-card-title>
      <md-card-content>On the second day of Christmas...</md-card-content>
    </md-card>
    <md-card class="card">
        <md-card-title>Third</md-card-title>
        <md-card-content>On the yada yada yada...</md-card-content>
      </md-card>
    </div>
</div>
<div class="banner bg-2">
</div>
<div class="banner-text">
  <md-card>
    <md-card-title>Second</md-card-title>
  </md-card>
  <div>
    <button md-button md-raised-button>Click Me</button>
  </div>
</div>
<div class="banner bg-3">
</div>